#app {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.full-screen-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0; /* Set a lower z-index value for the iframe */
}
